<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>

	<arg name="freq" default="100" />
	<arg name="name" 		default="ximu3" />
	<arg name="tf_frame_prefix" 	default="imu"/>

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 $(arg name) $(arg tf_frame_prefix)/thorax $(arg freq)" />
	<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="1 0 0 0 0 0 1 map $(arg tf_frame_prefix)/humerus $(arg freq)" />
	<node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="1 0 0 0 0 0 1 map $(arg tf_frame_prefix)/radius $(arg freq)" />

	<!-- thorax humerus radius  -->

</launch>

